<div class="container">
  <h1>Add a consumer :</h1>
  <div class="col-md-6 ">
    <form class="htmlform" ng-controller="CreateCtrl">
      <h3>Basic informations :</h3>
      <input
        class="form-control"
        placeholder="Person Name"
        name="FirstName"
        ng-model="person.FirstName"
        required
       />
      <input
        class="form-control"
        placeholder="Person Surname"
        name="lastName"
        ng-model="person.lastName"
        required
         />
      <input
        required
        class="form-control"
        placeholder="person@adress.com"
        name="Mail"
        ng-model="person.Mail"
        type="email"/>

      <br/>

      <input type="button" class="btn btn-primary" value="Ajouter" ng-click="create()" />

      <br/><br/>
    </form>
  </div>

</div>
</div>
